@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Open-Sans;
    src: url("../font/OpenSans-VariableFont_wdth,wght.ttf");
}

* {
    font-family: Open-Sans;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-stroke: 0.09px;
}

html {
    width: 100vw;
    height: 100svh;
    overflow: hidden;
}

body {
    width: 100%;
    height: 100%;
}

#app {
    width: 100%;
    height: 100%;
}
